<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}<title>ToDoList</title>{% endblock %}
</head>
<h1>Your To Do List</h1>
<h2>Welcome!</h2>
<body>
<ul class="navbar-nav ml-auto">
    {% if user.is_authenticated %}
    <li><a class="nav-link active" href="{% url 'tasks' %}">My tasks</a>
    <li class="nav-item"><a class="nav-link" href="{% url 'user_task_new' %}">New task</a></li>
    <li class="nav-item"><a class="nav-link" href="#">Logged in as: {{ user.get_username }}</a></li>
    <li class="nav-item"><a class="nav-link" href="{% url 'logout'%}">Log out</a></li>
</ul>
{% else %}
<p>You are not logged in, please log in, or <a href="{% url 'register'%}">register</a>!</p>
{% endif %}

{% block content %} {% endblock %}
</body>
</html>