{%extends 'base.html' %}
{% block title %}<title>MyTasks</title>{% endblock %}
{% block content %}
<h3>My tasks:</h3>
<hr>
{% if tasks %}
{% for task in tasks %}
<!--Kodel neveikia nuspalvinimas?-->
<ul>
    {% if task.status == 'c' %}
    <li class='completed'><strong><a class='completed' href="{{ task.id }}">{{ task.task }}</a></strong> | {{ task.get_status_display }}</li>
    {% else %}
        {% if task.is_overdue %}
        <li class='overdue'><strong><a class='overdue' href="{{ task.id }}">{{ task.task }}</a></strong>  | Due: {{ task.dueDate }} | !!!OVERDUE!!!
        | {{ task.get_status_display }}</li>
        {% elif task.is_lastday %}
        <li class='lastday'><strong><a class='lastday' href="{{ task.id }}">{{ task.task }}</a></strong>  | Due: {{ task.dueDate }} | !!!LAST DAY!!!
        | {{ task.get_status_display }}
        {% else %}
        <li><strong><a href="{{ task.id }}">{{ task.task }}</a></strong> | Due: {{ task.dueDate }} | Left till due: {{ task.days_tilldue }} |
        {{ task.get_status_display }}</li>
        {% endif %}
    {% endif %}
</ul>
{% endfor %}
{% else %}
<p>You have no dedicated tasks at the moment, would you like to <a href="{% url 'user_task_new' %}">add some?</a>.</p>
{% endif %}
 <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; go to first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            {{ page_obj.number }} from {{ page_obj.paginator.num_pages }}
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">go to last &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock %}