{% extends "base.html" %}

{% block content %}
    {% if validlink %}
        <p>Enter and repeat your new password.</p>
        <form action="" method="post">
        {% csrf_token %}
            <table>
                <tr>
                    <td>{{ form.new_password1.errors }}
                        <label for="id_new_password1">NEW password:</label></td>
                    <td>{{ form.new_password1 }}</td>
                </tr>
                <tr>
                    <td>{{ form.new_password2.errors }}
                        <label for="id_new_password2">Please repeat your NEW password:</label></td>
                    <td>{{ form.new_password2 }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="Change password" /></td>
                </tr>
            </table>
        </form>
    {% else %}
        <h1>Unable to change password</h1>
        <p>The reset link is expired. Please resubmit password reset.</p>
    {% endif %}
{% endblock %}